<section>
  <h1>{{ product.title }}</h1>
  <div>{{ product.description }}</div>
</section>

{% schema %}
{
  "name": "Product",
  "settings": [],
  "presets": [
    {"name": "Product"}
  ]
}
{% endschema %}
